/* Shared Styles Appear Here */

body {
  margin: 0px 0px 0px 0px;
}

header.page-header {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 14% 54% 14%;
  grid-column-gap: 9%;
  background-color: #f2f2f2;
  height: 3.5rem;
  font-size: 1.2rem;
  text-align: center;
}

ul.navigation {
  list-style-type: none;
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.navigation>li {
  flex: 1;
}

main.main-content-2-col {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 2% 67% 17% 2%;
  grid-column-gap: 4%;
  height: auto;
  margin-bottom: 1%;
}

main.main-content-1-col {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: auto;
  margin-bottom: 1%;
}

main div.section-main {
  background-color: #f2f2f2;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

main div.section-main-gallery {
  text-align: center;
  background-color: #f2f2f2;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

main div.section-main-gallery h2 {
  padding-top: 0.5rem;
}

main div.section-main-gallery img {
  width: 20%;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

main .image-container {
  border: 0.2rem solid black;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 0.5%;
}

.image-container>h3 {
  display: inline;
}

main .image-container .img-header {
  display: flex;
}

h3.img-author {
  flex: 1;
  text-align: right;
}

h3.img-title {
  flex: 1;
}

main .image-container .img-img {
  padding-left: 1.5%;
  padding-right: 1.5%;
  text-align: center;
}

main .image-container img {
  max-width: 100%;
  max-height: 45rem;
}

main .image-container .img-footer .img-bottom {
  display: grid;
  grid-template-columns: 14% 54% 14%;
  grid-column-gap: 9%;
}

main .image-container .img-footer .comment-block {
  display: grid;
  grid-template-columns: 15% 75%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  border: 0.15rem solid gray;
}

main .image-container .img-footer .comment-block .com-author {
  text-align: center;
  border-right: 0.15rem solid gray;
  margin: 0px 0px 0px 0px;
}

main .message-window {
  border: 0.15rem solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

footer.page-footer {
  display: flex;
  background-color: #f2f2f2;
  height: 2rem;
  align-items: center;
  justify-content: space-around;
}

main .option-menu {
  text-align: center;
}

main .option-button {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.5rem;
}

.error-text {
  color: #ff8080;
}

.success-text {
  color: #008000;
}
