<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Images :: Image Planet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
  </head>
  <body>
    <header class="page-header">
      <a class="site-name" href="index.html">Image Planet</a>
      <nav>
        <ul class="navigation">
          <li><a href="images.html">Images</a></li>
          <li><a href="users.html">Users</a></li>
          <li><a href="upload-image.html">Upload Image</a></li>
        </ul>
      </nav>
      <a href="login.html">Login / Register</a>
    </header>
    <main>
      <div class="section-main-gallery">
        <h2>Image Gallery</h2>
        <a href="users/1"><img src="images/red.png" alt="User-submitted image" /></a>
        <a href="users/1"><img src="images/orange.png" alt="User-submitted image" /></a>
        <a href="users/1"><img src="images/yellow.png" alt="User-submitted image" /></a>
        <a href="users/1"><img src="images/light-blue.png" alt="User-submitted image" /></a>
        <a href="users/1"><img src="images/blue.png" alt="User-submitted image" /></a>
        <a href="users/1"><img src="images/violet.png" alt="User-submitted image" /></a>
        <a href="users/1"><img src="images/black.png" alt="User-submitted image" /></a>
        <a href="users/1"><img src="images/gray.png" alt="User-submitted image" /></a>
        <a href="users/1"><img src="images/green.png" alt="User-submitted image" /></a>
      </div>
    </main>  
  </body>
</html>
