<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Direct Messaging Listing :: Image Planet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="{{ url_for('static', filename='scripts/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/socket-dm-list.js') }}"></script>
  </head>
  <body>
    <header class="page-header">
      <a class="site-name" href="{{ url_for('generate_home_page') }}">Image Planet</a>
      <nav>
        <ul class="navigation">
          <li><a href="{{ url_for('generate_image_gallery') }}">Images</a></li>
          <li><a href="{{ url_for('generate_user_list') }}">Users</a></li>
          <li><a href="{{ url_for('handle_image_upload') }}">Upload Image</a></li>
        </ul>
      </nav>
      <div class="header-user-info">
        <p class="header-user-greeting">Welcome <a href="{{ url_for('generate_user_page', user_id=cur_user.id) }}">{{ cur_user.name }}</a>! | <a href="{{ url_for('process_logout') }}">Logout</a></p>
      </div>
    </header>
    <main class="main-content-1-col">
      <div class="section-dummy"></div>
      <div class="section-main">
        <input type="hidden" name="uid" class="user-id" value="{{ cur_user.id }}" />
        <div class="dm-listing">
          <ul class="dm-list">
          {% for conversation in direct_message_list %}
          {% if not conversation.empty %}
          <li id="conver-{{ conversation.userid }}">{% if not conversation.read %}<span class="error-text">Unread Messages! - </span> {% endif %} <a href="{{  url_for('generate_direct_message_page', user_id=conversation.userid) }}">View Conversation</a> with <a href="{{ url_for('generate_user_page', user_id=conversation.userid) }}">{{ conversation.username }}</a></li>
          {% endif %}
          {% else %}
          <li class="empty-list">You do not have any direct messages yet ):</li>
          {% endfor %}
          </ul>
        </div>
        <br />
      </div>
      <div class="section-dummy"></div>
    </main>
  </body>
</html>
