<div class="image-container" id="user-{{ image.userid }}-img-{{ image.id }}">
  <div class="img-header">
    <h3 class="img-title">{{ image.title }}</h3>
    <h3 class="img-author">By: <a href="{{ url_for('generate_user_page', user_id=image.userid) }}">{{ image.username }}</a></h3>
  </div>
  <div class="img-img">
    <img src="{{ image.path }}" alt="User-submitted image" />
  </div>
  <div class="img-footer">
    <div class="img-bottom">
      <h3>Description:</h3>
      <p>{{ image.description }}</p>
      <form action="{{ url_for('process_like') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="imgid" value="{{ image.id }}" />
        <button class="like-btn" id="like-{{ image.id }}">Like This Image! ({{ image.likes }})</button>
      </form>
    </div>
    <div class="comment-container">
      <h3>Comments</h3>
      <div id="com-block-{{ image.id }}">
          <p>No comments yet.</p>
      </div>
      <br />
      <div class="comment-submission">
        <form action="{{ url_for('process_comment') }}" method="post" enctype="multipart/form-data">
          <input type="hidden" name="imgid" value="{{ image.id }}" />
          <label for="comment">Add Comment:</label>
          <input type="text" name="comment" id="comment" size="50" />
          <input type="submit" value="Submit" class="submit-comment-btn" />
        </form>
      </div>
    </div>
  </div>
</div>